{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <title>Services</title>
    <link href="{% static 'users/css/main.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/636320fbfc.js" crossorigin="anonymous"></script>
</head>
<body>
<!-------------------services------------------------->
<div id="portfolio">
    <div class="container">
        <h1 class="sub-tittle">Our Work</h1>
        <div class="work-list">
            <div class="work">
                <img src="{% static 'users/images/thi1.jpeg' %}" />
                <div class="layer">
                    <h3>Analytical Thinking</h3>
                    <p>
                        We make sure that we help our students to,
                        apply analytical thinking in everything
                        in order for them to be the best.
                    </p>
                    <!--<a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                </div>

            </div>
            <div class="work">
                <img src="{% static 'users/images/thi2.jpeg' %}" />

                <div class="layer">
                    <h3>Analytical Thinking</h3>
                    <p>
                       We make sure that we help our students to,
                       apply analytical and embrace team work thinking in everything
                       in order for them to be the best.
                    </p>
                   <!--- <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                </div>
            </div>
            <div class="work">
                <img src="{% static 'users/images/thi3.png' %}" />
                <div class="layer">
                    <h3>Team Work</h3>
                    <p>
                        We make sure that we help our students to,
                       apply analytical and embrace team work thinking in everything.
                        
                    </p>
                   <!--- <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                </div>
            </div>
        </div>
        <a href="{% url 'home'%}" class="btn">Go to page1</a>
    </div>
</div>


<!----------------------next page click button------------------------->

<!------------------------js linking---------------------------->
        <script src="{% static 'users/js/script.js' %}"></script>

</body>
</html>